
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


body {
    padding: 0;
    background:#010725;
    font-family: Arial;
    margin:0;
    font-family: "DM Sans", serif;
}

.navbar {
  width: 95%;
  margin: 50px;
  margin-left: 11px;
  margin-bottom: 5px;
}

.navbar .upper-section ul {
  
  list-style: none;
  padding-left: 90px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 29px;
  text-transform: uppercase;
  transition:color 0.3s ease;
 }
  .navbar a:hover{
    text-decoration: underline;
    text-decoration-color:#c47d3b ;
  }

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 0px;
}


.right-pic i {
  font-size: 80px;
  padding: 9px;
  color: #fff;
}

.user-des p {
  margin: 10px 0 0 0;
  font-size: 21px;
  color: white;
  text-align: center;
}


.hero {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 0px 0px 120px;
    color: #fff;
    font-size: 40px;
    text-align: left;

  }
   .content h1{
    margin-bottom: 40px;
   }
  .content p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .buttons button {
    background: #0328ee;
    color: #fff;
    border: none;
    margin: 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 17px;
    font-family: "DM Sans", serif;
  }
  .buttons button:hover {
    background:#ec780c;
  }
  
  .box1{
    padding: 27px 100px;
  }
  .box2{
    padding: 27px 90px ;
  }
  .box3{
    padding: 27px 60px;
  }
  .box4{
    padding: 27px 50px;
  }
.box5{
  padding: 27px 50px;
}
.box6{
  padding: 27px 50px;
}

.content{
  padding-right: 70px;
  
}
.logo-section{
  padding-top: 80px;
}





.alert-notification {
  position: absolute;
  right: 5px;
  margin: 2px auto 5px;
  background:#ff7b00;
  color: white;
  font-size: 35px;
  padding: 40px 50px ;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin-right: 10px;
  font-family: "Electrolize", serif;
}
